<h1>Manage Institutions
  <% if current_user.has_elevated_privileges? %>
    <%= link_to "Go to institutions administration", admin_institutions_path, class: 'btn btn-primary' %>
  <% end %>
</h1>

<div class="row py-3">
  <span>Find institution by name</span>
  <%= form_tag(manage_institutions_path, method: :get, class: 'd-flex') do %>
      <%= text_field_tag(:search, params[:search], maxlength: 20, class: 'form-control me-2', data: { target: "manage.searchbar", action: "input->runSearch"}) %>
      <%= submit_tag("Search!", class: 'btn btn-success col-md-4', data: { target: "manage.btn" }) %>
  <% end %>
</div>

<% if @institutions.count > 0 %>
  <div class="table-responsive">
    <table class="table table-bordered table-hover" >
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Code</th>
        </tr>
      </thead>
      <% @institutions.each do |institution| %>
      <tr class="table-row" scope="row">
        <td><%= link_to institution.name, institution_url(institution_name: institution.name) %></td>
        <td><%= institution.location %></td>
        <td><%= institution.code %></td>
      </tr>
      <% end %>
    </table>
    <%= paginate @institutions %>
  </div>
<% else %>
  <div class="row">
    <div class="mx-auto text-center pt-5">
      <h1>No matches found for <%= params[:search] %></h1>
    </div>
  </div>
<% end %>
