<p style="color: green"><%= notice %></p>

<%= render @institution %>

<div class="container-fluid">
  <div class="flex-nowrap">
    <h2 class='d-flex justify-content-center'>Classes for <%= @institution.name %></h2>
    <h6 class='d-flex justify-content-center'>Location: <%= @institution.location %></h6>
    <div class='d-flex justify-content-center'>
    <% if current_user.has_elevated_privileges? %>
    <%= link_to '+ Create a new class', create_new_classes_path(institution_name: institution.name, class_name: ''), class: 'btn btn-success' %>
    <% end %>
    </div>
    <div class="col col-md-8 p-5 mx-auto">
      <% IClass.for(@institution).each do |klass| %>
      <%= render partial: 'class', locals: { klass: klass } %>
      <% end %>
    </div>
  </div>
</div>
