<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar-partial">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-1 d-none d-sm-inline">Menu</span>
    </a>
    <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start sidebar-partial-link" id="menu">
      <li class="nav-item">
        <%= link_to(root_url, { class: "align-middle px-0 sidebar-partial-link" }) do %>
          <%= fa_icon('home') %> <span class="ms-1 d-none d-sm-inline ">Home</span>
        <% end %>
      </li>
      <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle sidebar-partial-link">
          <%= fa_icon("tachometer") %> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
      </li>
      <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle sidebar-partial-link">
          <%= fa_icon("paperclip") %> <span class="ms-1 d-none d-sm-inline">Upcoming exams</span> </a>
      </li>
      <li>
        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle sidebar-partial-link">
          <%= fa_icon("users") %> <span class="ms-1 d-none d-sm-inline">Attendance</span>
        </a>
        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
          <% 20.times do %>
          <li class="w-100">
            <a href="#" class="nav-link px-0 sidebar-partial-link"> <span class="d-none d-sm-inline">Class</span> 1</a>
          </li>
          <% end %>
        </ul>
      </li>
      <% if current_user.has_elevated_privileges? %>
      <li>
        <%= link_to manage_path, {class: "nav-link px-0 align-middle sidebar-partial-link"} do%>
          <%= fa_icon('cog') %> Users management
        <% end %>
      </li>
      <% end %>
    </ul>
    <hr>

    <div class="pb-4">
      <a href="#profileMenu" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="collapse" aria-expanded="true">
        <%= image_tag(current_user&.image || "https://github.com/mdo.png", {alt: 'image', width: '30', height: '30', class: 'rounded-circle'}) %>
        <span class="d-none d-sm-inline mx-1 fs-5"><%= current_user&.name || "Username" %></span>
      </a>
      <ul class="collapse nav flex-column ms-1" id="profileMenu" data-bs-parent="#menu">
        <li><%=link_to("New ...",    root_url, { class: "sidebar-partial-link" }) %></li>
        <li><%=link_to("Edit profile", edit_user_registration_path, { class: "sidebar-partial-link" }) %></li>
        <li><%=link_to("My profile", my_profile_path, { class: "sidebar-partial-link" }) %></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'sidebar-partial-link--btn' %></li>
      </ul>
    </div>
  </div>
</div>
