<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row col-md px-5">
      <div class="row">
        <div class="form-group col-md pt-5">
          <%= form.label :image %><br />
          <%= form.file_field :image, class: 'form-control col-md-4', autofocus: true, autocomplete: "name", maxlength: 50 %>
          <%= form.hidden_field :image_cache %>
        </div>
      </div>

    <div class="form-group col-md pt-5">
      <%= form.label :name %><br />
      <%= form.text_field :name, class: 'form-control col-md-4', autofocus: true, autocomplete: "name", maxlength: 50 %>
    </div>
    
    <div class="form-group col-md pt-5">
      <%= form.label :email %><br />
      <%= form.email_field :email, class: 'form-control col-md-4', autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <% if can_change_access? %>
  <div class="row px-5" >
    <div class="form-group col-md pt-4">
      <%= form.label :access_type %>
      <%= form.select :access_type, User.access_types.keys, { include_blank: true }, data: { target: "form-element.access_type", action: "click->form-element#setAccessTypeTooltip" }, class: 'form-control col-md-4' %>
    </div>
    <div class="form-group col-md pt-5" data-form-element-target="output" >
    </div>
  </div>
  <% end %>

  <div class="row px-5 py-2">
    <div class="actions form-group pt-4 col-md-12">
      <%= form.submit "Update", class: 'btn btn-success w-100' %>
    </div>
  </div>
<% end %>
