<% if @users.count > 0 %>
<div class="table-responsive">
  <table class="table table-bordered table-hover" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">User type</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tr class="table-row" scope="row">
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.access_type %></td>
    </tr>
    <% end %>
  </table>
</div>
<% else %>
<div class="row">
  <div class="mx-auto text-center pt-5">
    <h1>No matches found for <%= params[:search] %></h1>
  </div>
</div>
<% end %>
