<div class="row">
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center" style="min-height: 90vh">
        <%= image_tag(user.image.url, size: "200x200", alt: "avatar", class: "rounded-circle img-fluid", style: "width: 150px; height: 150px" )%>
        <h5 class="my-3"><%= user.name %></h5>
        <i><%= user.gender == "male" ? "mr." : "mrs" %></i>
        <p class="text-muted mb-1"><%= user.access_type %></p>
        <p class="text-muted mb-4"><%= user.institution.location %></p>
        <div class="d-flex justify-content-center mb-2">
          <% if user == current_user %>
          <%= link_to 'Edit my profile', edit_user_registration_url(user), class: 'btn btn-primary' %>
          <% else %>
          <%= link_to 'Edit user profile', edit_user_url(user), class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div class="pt-5 text-roboto" style="text-align: left">
          <%= user.bio %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.name %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Gender</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.gender %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.email %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.phone || "None provided" %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.institution.location %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Class</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.i_class.name %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Institution</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.institution.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card mb-4 mb-md-0">
          <div class="card-body">
            <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
            </p>
            <p class="mb-1" style="font-size: .77rem;">Web Design</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
            <div class="progress rounded mb-2" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
