<div id="<%= dom_id subject %>">
  <div class='p-0'>
    <h2 class='d-flex justify-content-center'><%= subject.name %></h2>
    <h3 class='d-flex justify-content-center'>Thaught by &nbsp; <%= link_to subject.teacher.name, subject.teacher %></h3>
    <h6 class='d-flex justify-content-center'>Study Year: <%= subject.year %></h6>
    <div class="col col-md-8 mx-auto">
      <div class="form-group mt-5 text-roboto">
        <%= subject.description %>
      </div>
      <div class="row form-group mt-5">
        <div class="col col-md-10">
          <%= link_to 'Visit class', class_url(class_id: subject.klass), class: 'btn btn-primary' %>
        </div>
        <% if current_user.has_elevated_privileges? %>
        <div class="col col-md form-group">
          <%= link_to "Edit this subject", edit_subject_url(class_id: subject.klass, subject_id: subject), class: 'btn btn-success' %>
        </div>
        <% else %>
        <div class="col col-md form-group">
          <%= link_to 'Enroll into class', class_url(subject.klass), class: 'btn btn-success' %>
        </dev>
        <% end %>
      </div>
    </div>
  </div>
</div>
