<div class="container-fluid">
  <div class="flex-nowrap justify-content-center">
    <%= form_with(model: klass, url: class_path(institution_name: institution.name, class_name: klass.name)) do |form| %>
    <% if klass.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(klass.errors.count, "error") %> prohibited this class from being saved:</h2>

      <ul>
        <% klass.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row col-md px-5">
      <div class="form-group col-md-6 pt-5">
        <%= form.label :name %><br />
        <%= form.text_field :name, class: 'form-control col-md-4', autofocus: true, autocomplete: "name", maxlength: 50 %>
      </div>      
      <div class="form-group col-md pt-5">
        <%= form.label :year %><br />
        <%= form.text_field :year, class: 'form-control col-md-4', autofocus: true, autocomplete: "year", maxlength: 50 %>
      </div>      
    </div>

    <div class="row col-md px-5">
      <div class="form-group col-md pt-5">
        <%= form.label :description %><br />
        <%= form.text_area :description, class: 'form-control textarea col-md-4 flex', autofocus: true, autocomplete: "description", rows: 20 %>
      </div>      
    </div>
    <%= form.hidden_field :institution_id, {value: institution.id } %>

    <div class="row px-5 py-2">
      <div class="actions form-group pt-4 col-md">
        <%= form.submit institution ? "Create new class" : "Update", class: 'btn btn-success w-100' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
