<div id="<%= dom_id report %>">
  <p>
    <strong>Name:</strong>
    <%= report.name %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= report.institution_id %>
  </p>

  <p>
    <strong>Scope:</strong>
    <%= report.creation_scope %>
  </p>

  <p>
    <strong>By:</strong>
    <%= report.by_id %>
  </p>

</div>
