<h1>Reports</h1>

<!-- <div id="reports"> -->
<!--   <% @reports.each do |report| %> -->
<!--     <%= render report %> -->
<!--     <p> -->
<!--       <%= link_to "Show this report", report_url(institution_name: institution.name, report_id: report.id) %> -->
<!--     </p> -->
<!--   <% end %> -->
<!-- </div> -->

<!-- <%= link_to "New report", new_report_path %> -->


<div class="table-responsive">
  <table class="table table-bordered table-hover" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">For</th>
        <th scope="col">Created by</th>
        <th scope="col">Created on</th>
        <th scope="col">Report state</th>
      </tr>
    </thead>
    <% @reports.each do |report| %>
    <tr class="table-row" scope="row">
      <td><%= link_to report.name, report_url(report_id: report.id) %></td>
      <td><%= report.creation_scope %></td>
      <td><%= link_to report.by.name, user_url(report.by) %></td>
      <td><%= report.created_at.strftime("%d %B %Y") %></td>
      <td><%= report.state %></td>
    </tr>
    <% end %>
  </table>
