<h1 class="text-center">
  Reports
  <p>
    <%= link_to "+ New report", new_report_path, class: 'btn btn-success' %>
  </p>
</h1>

<% if @reports.count > 0 %>
<div class="table-responsive">
  <table class="table table-bordered table-hover" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Format</th>
        <th scope="col">For</th>
        <th scope="col">Created by</th>
        <th scope="col">Created on</th>
        <th scope="col">Report state</th>
      </tr>
    </thead>
    <% @reports.each do |report| %>
    <tr class="table-row" scope="row">
      <td><%= report.name %></td>
      <td><%= report.format %></td>
      <td><%= report.creation_scope %></td>
      <td><%= link_to report.by.name, user_url(report.by) %></td>
      <td><%= report.created_at.strftime("%d %B %Y") %></td>
      <% if !report.completed? %>
      <td><%= report.state %></td>
      <% else %>
      <td><%= link_to report.state, report.file.url %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% else %>
  <div class="row">
    <div class="mx-auto text-center pt-5">
      <h1>No reports created yet</h1>
    </div>
  </div>
<% end %>
